<body>
<div class="container">
    <h2>Login</h2>
    <div *ngIf="redireccion===false" class="alert">Usuario Incorrecto.</div>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.nombre" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.contrasena" required>
      </div>
      <button type="submit" class="btn btn-primary" >Sign in</button>
    </form>
  </div>
</body>