body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 0;
}

.container {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 30%;
  max-width: 90%;
  animation: fadeIn 0.5s ease forwards;
  text-align: center; /* Añadido para centrar el contenido */
}

form {
  margin: 0 auto; /* Para centrar el formulario */
  max-width: 100%; /* Ajustar al ancho del contenedor */
}

h1 {
  margin-bottom: 20px;
}

.form-control {
  width: calc(100% - 20px); /* Modificado para considerar el padding */
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  display: block;
  width: calc(100% - 20px); /* Modificado para considerar el padding */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.alert {
  background-color: #c4444d;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}
