<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Combate</h2>
      </div>
      <div class="card-body">
        <!-- Aquí se mostrará la información del combate, como los turnos, los Pokémon en juego, etc. -->
        <div class="combate-info-content">
          <p>Turno actual: 1</p>
          <p>Jugador 1: Pikachu (HP: 50)</p>
          <p>Jugador 2: Charmander (HP: 40)</p>
          <button (click)="sendServerMessage()">Ataque Rapido</button>
          <button (click)="sendServerMessage()">Electrotela</button>
          <button (click)="sendServerMessage()">Impactrueno</button>
          <button (click)="sendServerMessage()">Rayo</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Chat</h2>
      </div>
      <div class="card-body">
        <div>
          <div *ngFor="let message of messages">
            {{ message.user }}: {{message.message}}
          </div>
          <input type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()">
          <button (click)="sendMessage()">Enviar</button>
        </div>

      </div>
    </div>
  </div>
</div>
