<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h2>Agregar pokemon a Usuario</h2>
    <div class="container">
        <form action="#" method="post">
            <label for="pokemon">Nombre Pokémon:</label>
            <input type="text" id="pokemon" name="pokemon" placeholder="Ingrese el nombre del Pokémon" required>
            <input type="submit" value="Enviar" (click)="volver()">
        </form>
    </div>
</body>
