  <header>
<div class="logo"></div>
<input type="checkbox" id="nav_check" hidden>
<nav>
    <ul>
        <li>
            <a href="" >Home</a>
        </li>
        <li>
           @if(loged()){ <a href="/login">Login</a>}
        </li>
        <li>
            <a href="/pokedex">Pokedex</a>
        </li>
        <li>
          @if(nologin()){  <a href="/user">User</a>}
        </li>
        <li>
            @if(nologin()){  <a href="/pokemon">Pokemon</a>}
        </li>
        <li>
         @if(loged()){ <a href="/register">Register</a>}
      </li>

      <li>
       @if(nologin()){ <a (click)="logout()" class="logout-link">Logout</a>}
    </li>
    </ul>
</nav>
<label for="nav_check" class="hamburger">
    <div></div>
    <div></div>
    <div></div>
</label>
</header>
<router-outlet></router-outlet>