* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    color: whitesmoke;
  }
  .poke {
    color: #fff;
  }
  p{
    color: white;
    margin-top: 2%;
  }
  
  .collector {
    color: #000;
  }
  
  
  @font-face {
      font-family: 'pokemon';
      src: url('/fonts/Pokemon Solid.ttf') format('truetype');
  }
  body{
      font-family: pokemon;
  }
  .main-content {
    margin-top: 9%; 
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    flex-direction: column;
  }

  .contenedor-pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Centra verticalmente el contenido */
    width: 60%;
    margin-top: 6%;
    height: auto;
  }
    
  img {
    height: 20%;
    width: 60%;
  }
  
  .img-1 {
    position: relative;
    animation-fill-mode: forwards;
  }
          
  /*ESTILOS TITULO*/
  .titulo{
      height: 100px;
      text-align: center;
  }
  
  /*ESTILOS PARA LAS BARRAS*/
  .health-bar,.atk-bar,.atkesp-bar,.def-bar,.defesp-bar,.vel-bar {
      width: 50%; 
      height: 2%;
      background-color:darkgrey;
      border-radius: 5px; 
      overflow: hidden;
  }
  
  /* Estilo para el indicador de vida */
  .bar {
      height: 100%; 
      width: 100%; 
      background-color:bisque; 
      transition: width 0.3s ease; 
  }
  
  .health-bar:hover .bar {
      width: 100%; 
  }
  .health-bar-container {
      flex: 1;
      margin-left: 10px;
  }
  
    .card {
    flex: 0 0 calc(33.33% - 20px); /* Establece el ancho para que haya tres cartas por fila */
      margin: 10px;
      position: relative;
      width: 100%; 
      height: 450px;
    }

  @media only screen and (max-width: 1000px) {
    .card{
        height: 300px;
    }
  }
  @media only screen and (max-width: 850px) {
    .card{
        height: 200px;
    }
  }
  @media only screen and (max-width: 650px) {
    .contenedor-pokemons{
        width: 90%;
    }
  }
  @media only screen and (max-width: 590px) {
    .contenedor-pokemons{
        width: 100%;
    }
  }


  @media only screen and (max-width: 550px) {
    .card{
        height: 150px;
    }
  }

  @media only screen and (max-width: 300px) {
    .card{
        height: 100px;
    }
  }

  .caught {
      filter: none; 
  }
  .card{
    max-width: 100%;
  }
  .card .face{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 5%;
      overflow: hidden;
      transition: .5s;
  }
  
  .card .front{
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px black;
  }
  
  .card .front img{
      position: absolute;
      width: 100%;
      height: 100%;
  }
  
  .card .back{
      transform: perspective(600px) rotateY(180deg);
      background-image: url('/assets/cartas/pokeballl.png');
      background-color:hsl(0,10%,50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      display: flex;
       padding: 15px;
      color:whitesmoke;
      text-shadow: 0 0 0.2em black, 0 0 0.2em black;
      box-shadow: 0 5px 10px black;	
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
      font-size: 1vw;
  }
  .back img{
      width: 40%;
      height: auto;
  }
  #pokeinfo{
      width: 100%;
      order: 0;
  }
  .health-bar{
      order: 1;
      width: 100%;
  }
  
  #pokeatk{
      order: 2;
      width: 100%;	
  }
  .atk-bar{
      width: 100%;
      order: 3;
  }
  
  #pokeatk_esp{
      width: 100%;
      order: 4;
  }
  .atkesp-bar{
      width: 100%;
      order: 5;
  }
  
  #pokedef{
      width: 100%;
      order: 6;
  }
  
  .def-bar{
      width: 100%;
      order: 7;
  }
  
  #pokedef_esp{
      width: 100%;
      order: 8;
  }
  .defesp-bar{
      width: 100%;
      order: 9;
  }
  #pokevel{
      width: 100%;
      order: 10;
  }
  .vel-bar{
      width: 100%;
      order: 11;
  }
  .gifs{
      order: 12;
  }
  
  .card:hover .front{
      transform: perspective(600px) rotateY(180deg);	
  }
  
  
  .card:hover .back{
      transform: perspective(600px) rotateY(360deg);	
  }

/*ESTILOS PARA EL SELECT Y SU BOTON*/

/* Estilos para el contenedor y los elementos internos */
.findbytipo {
    display: flex;
    align-items: center;
    margin-top: 3%;
    height: 40%;
  }
  
  /* Estilos para el select */
  .findbytipo select {
    appearance: none; 
    background-color: #f8f9fa; 
    border: 2px solid #ced4da; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 16px; 
    cursor: pointer;
    margin-right: 10px;
  }

  button{
    height: 50px;
    width: 50%;
  }

  
  
  
  
  
  
  
  
  





