* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .tittle{
    margin-top: 5%; 
    padding: 20px;
    display: flex;
    font-size: 3vw;
    justify-content: center;
    color: white;
  }
  button{
    height: 15%;
    width: 50%;
    font-size: 1vw;
    background-color: darkred;
    position: relative;
    top: 40%;
  }
 
  .addpoke{
    padding: 20px;
    display: flex;
    font-size: 2vw;
    justify-content: center;
    color: white;
  }
  .aqui{
    margin-left: 1%;
    justify-content: center;
    width: 10%;
    height: 30px;
  }
  .contenedor-padre {
    margin-top: 2%; 
    padding: 0px;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
  }
  .contenedor-pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
  }

.pokemon-image {
  flex: 0 0 auto;
  margin-right: 20px; 
  width: 100%;
  height: 100%;
}

  @font-face {
      font-family: 'pokemon';
      src: url('/fonts/Pokemon Solid.ttf') format('truetype');
  }
  body{
      font-family: pokemon;
  
  }    
    
  /*ESTILOS CARD*/

.card {
  flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    position: relative;
    width: 100%; 
    height: 450px;
  }


  @media only screen and (max-width: 1000px) {
    .card{
        height: 300px;
    }
  }
  @media only screen and (max-width: 850px) {
    .card {
      flex: 0 0 calc(50% - 20px);
      height: 200px;
    }
  }

  @media only screen and (max-width: 550px) {
    .card{
        height: 150px;
    }
  }
  @media only screen and (max-width: 500px) {
    .card {
      flex: 0 0 calc(50% - 20px);
      height: 100px;
    }
 } 

  @media only screen and (max-width: 300px) {
    .card {
      flex: 0 0 calc(100% - 20px);
      height: 100px;
    }

  }

.caught {
    filter: none;
}

  .card .face{
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 5%;
      overflow: hidden;
      transition: .5s;
  }
  
  .card .front{
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0 5px 10px black;
  }
  

  .card .front img{
    width: 100%;
    height: 100%;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-image: url('/assets/cartas/pokeballl.png');
    background-color:hsl(0,10%,50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
     padding: 15px;
    color:whitesmoke;
    text-shadow: 0 0 0.2em black, 0 0 0.2em black;
    box-shadow: 0 5px 10px black;	
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);	
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);	
}
