<div class="container p-4">
  <div class="row align-content-center fadeAnim rounded-4 ">
    <div class="col text-dark text-center">
      <h1><span class="text-danger">Poke</span><span>Collector</span></h1>
      <p>PokeCollector es una colección de cartas Pokémon en línea donde puedes coleccionar cartas.</p>
    </div>
    <div class="col-lg-12">
      <div class="d-flex justify-content-center align-content-center">
        <video class="p-4 w-75 h-75 d-flex justify-content-center align-content-center" [src]="'/assets/videoss/'+ numberrandom+'.mp4'" autoplay loop muted></video>
      </div>      
    </div>
  </div>
</div>