
/* Estilos para la tabla */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  .styled-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  /* Estilos para las celdas */
  .cell {
    border-radius: 10px;
  }
  
  /* Estilos para centrar el contenido */
  .container {
    text-align: center;
  }

  /*ESTILOS PARA LA BARRA DE NAVEGACIÓN*/

  /* Estilos para la barra de navegación */
.navbar {
  background-color: #f8f9fa; /* Color de fondo */
  border-bottom: 1px solid #e9ecef; /* Borde inferior */
  position: fixed; /* Barra fija en la parte superior */
  width: 100%; /* Ancho completo */
  top: 0; /* Pegado en la parte superior */
  z-index: 1000; /* Capa z-index para estar por encima de otros elementos */
}

/* Estilos para la lista de elementos */
.navbar-nav {
  display: flex; /* Mostrar los elementos en línea */
  justify-content: center; /* Centrar los elementos horizontalmente */
  list-style: none; /* Eliminar los puntos de lista */
  margin: 0; /* Eliminar el margen predeterminado */
  padding: 0; /* Eliminar el relleno predeterminado */
}

/* Estilos para los elementos de la lista */
.nav-item {
  margin-right: 20px; /* Espacio entre elementos */
}

/* Estilo especial para el elemento User */
.nav-item.user {
  margin-right: 0; /* Sin margen a la derecha */
  margin-left: auto; /* Se alinea a la derecha */
}

/* Estilos para los enlaces */
.nav-link {
  color: #343a40; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  padding: 10px 15px; /* Relleno interno */
  transition: color 0.3s; /* Transición suave para el color */
}

/* Estilos para los enlaces cuando se pasan por encima */
.nav-link:hover {
  color: #007bff; /* Cambiar color al pasar el mouse */
}
  
